.Main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: black;
  color: white;
}

.Main-nav a {
  padding: 0 25px;
}

.active {
  color: white;
  text-decoration: none;
}
